In [3]:
#Learning Python
SP = "I am Shivaprasad Bollempally"
print (SP)

I am Shivaprasad Bollempally

In [5]:
#Adding Numbers
a = 20
b = 30
c = 20
print (a+b+c)

70

In [8]:
#types of Integer data types
a = 20
b = 599+8j
c = 20.3
d = "Shivaprasad"
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'complex'>
<class 'float'>
<class 'str'>

In [11]:
#String
SP = "Shivaprasad Bollempally"
print (len(SP))

23

In [13]:
#List =  List of data's having different data types
My_list = ['facebook',12.5, 300,2+3j, [1,2,3]]
print (My_list)

['facebook', 12.5, 300, (2+3j), [1, 2, 3]]

In [14]:
#tuple = collection of different data types
My_list = ('facebook',12.5, 300,2+3j)
print (My_list)

('facebook', 12.5, 300, (2+3j))

In [16]:
#dictionar = UnOrdered set of Key-value pairs
sp = {'Aishwaraya':100, 'Akshara':200, 'Jhansi':300}
print (sp)

{'Aishwaraya': 100, 'Akshara': 200, 'Jhansi': 300}

In [80]:
#set = Unordered collection of unique Items
a = {1,2,3,4,4,3,"Shivaprasad Bollempally"}
print (a)

{1, 2, 3, 4, 'Shivaprasad Bollempally'}

In [37]:
#Range = It gives immutable sequence of numbers bet. start and stop
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [43]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [44]:
#None = None data type means an object does not contain any value
a = None
print (a)

None

In [75]:
#Bollean Value
a = 20
b = "Shiva"
is_name =  True
is_names = False
if a == b:
    print (is_name)
else:
    print (is_names)
print (a==b and is_name)
print (a==b and is_names)
print (a == b)
print (a != b)

False
False
False
False
True

In [78]:
#Testing removing duplicates
a = {1,2,2,3,4,3}
print (a)

{1, 2, 3, 4}

In [82]:
a = {'Shiva','Shivaprasad','Shiva','Shivaprasad Bollempally','Shivaprasad','Shivaprasad Bollempally'}
print(a)

{'Shiva', 'Shivaprasad', 'Shivaprasad Bollempally'}

In [83]:
a = (1,4,7,9)
print(a)

(1, 4, 7, 9)

In [87]:
#A string is a sequence of characters
a = 'hello'
b = "hello"
print(a,b)

hello hello

In [89]:
#Triple quotes are also used but for multi-line strings and docstrings
a = """I am learning Python
and Machine Learning Languages"""
print(a)

I am learning Python
and Machine Learning Languages

In [97]:
#Accessing substirng(characters)in string
#Two ways 1) Indexing 2)Slicing
#Example of slicing --- start stop step
name = "code yug"
print (name[0:5:3])

ce

In [ ]:
#21-04-2025

In [ ]:
ashdkjas